.App {
  text-align: center;
  margin: 50px auto;

}

body {
  text-align: center;
  vertical-align: center;
  background-repeat: no-repeat;
  background-size: cover;
 background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200729/pngtree-background-vector-design-of-sun-hiding-in-the-desert-image_371602.jpg " ); 
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

button{
  padding:12px;
  margin:10px;
  background-color:#a34607;
  color:white;
  border:none;
  border-radius: 10px;
  font-size: 18px;
}

.myred{
  color:red;
}

.mygreen{
  color:green;
}

.number{
  font-size:40px;
}

span{
  font-size: 60px;
  text-align: center;
}

.btn-reducer{
  background-color: rgb(194, 73, 25);
  color: rgb(240, 232, 232);
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

.container{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #fff;
  margin: 50px auto 0 auto;
  width: 300px;
  padding: 10px;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.error-number{
  color:rgb(92, 5, 5);
  font-size:20px;

}

.error-image{
  width: 200px;
}

.error{
  display: flex;
  flex-direction: column;
}

.Link-style{
  margin: 40px;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.bomb{
  margin-top: 50px;
  font-size: 30px;
}

input{
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

