.App {
  text-align: center;
  margin: 50px auto;
}

body {
  text-align: center;
  vertical-align: center;
  background-color: #ccc;

}
button{
  padding:12px;
  margin:10px;
background-color:#11a211;
  color:white
}
.myred{
  color:red;
}
.mygreen{
  color:green;
}
.number{
  font-size:40px;
}

span{
  font-size: 60px;
  text-align: center;


}

.error{

}

.container{

}

.btn-reducer{
  background-color: rgb(25, 76, 185);
  color: rgb(238, 231, 231);
  border-radius: 20%;
  border: none;
}

.Link-style{
  margin: 40px;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}
