.App {
  text-align: center;
  margin: 50px auto;

}

body {
  text-align: center;
  vertical-align: center;
  background-repeat: no-repeat;
  background-size: cover;
 background-image: url("https://i.pinimg.com/736x/ce/f1/58/cef1583699f30830bd02c9dfa66dafad.jpg" ); 
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

button{
  padding:12px;
  margin:10px;
  background-color:#e2e0de;
  color:#000;
  border:none;
  border-radius: 10px;
  font-size: 18px;
}

.myred{
  color:red;
}

.mygreen{
  color:green;
}

.number{
  font-size:40px;
}

span{
  font-size: 60px;
  text-align: center;
}

.btn-reducer{
  background-color: rgb(236, 230, 228);
  color: rgb(49, 48, 48);
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

.container{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #fff;
  margin: 50px auto 0 auto;
  width: 300px;
  padding: 10px;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.error-number{
  color:rgb(92, 5, 5);
  font-size:20px;

}

.error-image{
  width: 200px;
}

.error{
  display: flex;
  flex-direction: column;
}

.Link-style{
  margin: 40px;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  text-transform: capitalize;
}


.Link-style:hover {
  background-color: rgb(224, 218, 218);
  color: rgb(29, 26, 26);
}

.bomb{
  margin-top: 50px;
  font-size: 30px;
  color: #fff;
}

input{
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.bomb-message{
  font-size: 15px;
  color: #e2e0de;
}
